<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Neues Projekt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--ion-list class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated" lines="full"-->
    <form (ngSubmit)="onFormSubmit()" [formGroup]="projectForm">

      <ion-card>
      <ion-list-header class="ios hydrated">
        Allgemein
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adresse</ion-label>
        <ion-input formControlName="address" required type="text">
        </ion-input>
      </ion-item>
      </ion-card>

      <ion-card>
        <ion-list-header class="ios hydrated">
          Aufgaben - Tasks
        </ion-list-header>

        <ion-list>
          <ion-item *ngfor = "let task of tasks;">
            {{task}}
         </ion-item>
        </ion-list>

        <div style="text-align: center">
          <button (click)="addTask()" style = "background-color: transparent; horiz-align: center" clear ion-button>
            <ion-icon name="add-circle-outline" style="zoom:3.0"></ion-icon>
          </button>
        </div>





      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" shape="full" type="submit">Projekt hinzufügen</ion-button>
        </ion-col>
      </ion-row>
    </form>
  <!--/ion-list-->


</ion-content>
